<!DOCTYPE html>
<html lang="en">

<head>
<title>Cheetah | AWS Cloud Audit Tool</title><meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/css/fullcalendar.css" />
<link rel="stylesheet" href="/css/maruti-style.css" />
<link rel="stylesheet" href="/css/maruti-media.css" class="skin-color" />
<link rel="stylesheet" href="/css/parents.css" />
<script src="/js/jquery.min.js"></script> 
</head>